{% extends 'base.html' %} {% block title %} Add a new book page {% endblock %}
{% block body %}
<div class="container mt-5">
  <h1>Add a new book</h1>
  <form method="post">
    <input
      type="text"
      name="title"
      id="title"
      placeholder="Title"
      class="form-control"
    /><br />
    <input
      type="text"
      name="author"
      id="author"
      placeholder="Author"
      class="form-control"
    /><br />
    <input
      type="text"
      name="language"
      id="language"
      placeholder="Language"
      class="form-control"
    /><br />
    <input
      type="text"
      name="genre"
      id="genre"
      placeholder="Genre"
      class="form-control"
    /><br />
    <textarea
      name="description"
      id="description"
      placeholder="Enter description"
      class="form-control"
    ></textarea>
    <br />

    <input type="submit" class="btn btn-secondary btn-lg" value="Save" />
  </form>
</div>
{% endblock %}
