{% extends 'base.html' %} {% block title %} Update book page {% endblock %} {%
block body %}
<div class="container mt-5">
  <h1>Update the book</h1>
  <form method="post">
    <input
      type="text"
      name="title"
      id="title"
      placeholder="Title"
      class="form-control"
      value="{{book.title}}"
    /><br />
    <input
      type="text"
      name="author"
      id="author"
      placeholder="Author"
      class="form-control"
      value="{{book.author}}"
    /><br />
    <input
      type="text"
      name="language"
      id="language"
      placeholder="Language"
      class="form-control"
      value="{{book.language}}"
    /><br />
    <input
      type="text"
      name="genre"
      id="genre"
      placeholder="Genre"
      class="form-control"
      value="{{book.genre}}"
    /><br />
    <textarea
      name="description"
      id="description"
      placeholder="Enter description"
      class="form-control"
    >
{{book.description}}</textarea
    >
    <br />
    <input
      type="text"
      name="finished_reading"
      id="finished_reading"
      class="form-control"
      value="{{book.finished_reading}}"
    /><br />
    <input type="submit" class="btn btn-secondary btn-lg" value="Update" />
  </form>
</div>
{% endblock %}
